@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Audiowide&family=Press+Start+2P&family=VT323&display=swap");

html,
body {
  background-color: black;
  font-family: "Audiowide", "VT323", "Orbitron", "Press Start";
}

a {
  font-family: "Audiowide", "VT323", "Orbitron", "Press Start";
  text-decoration: none;
}

button {
    font-family: "Audiowide", "VT323", "Orbitron", "Press Start";
}